html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
    
    
background-image: url(cool-wallpapers-icegif-2.gif); background-repeat: repeat;
background-size: cover;
}
